@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">XML & Webservices - Individual Assignment</h1>
    <p>Click the following link to navigate to HTML Page: <a href="~/TvShow.html">Movies/Tv Shows</a></p>
    <p>Click the following link to navigate to Shortcuts XML Page: <a href="/Shortcuts.xml">Team's favourite shortcuts</a></p>
</div>
